$base-font-family-sans: "Open Sans";


@import "helpers/functions";
@import "helpers/mixins";
@import "helpers/mixins-flex";


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body{
  font-family: 'Open Sans', sans-serif;
  margin:0px;
  padding:0px;
  width:100%;
}

.logo{
  background: transparent url('../svgs/elliemae-no-tag-logo.svg') 0 0 no-repeat;
  background-size: contain;
  height: 42px;
  padding: 0;
  margin: 2% 10% 2% 10%;
  width: 184px !important;
  display: inline-flex;
}

.slogan{
  font-family: 'Open Sans:Light';
  color: grey;
  font-size: 0.8em;
  display: inline-block;
  position: relative;
  left: 200px;
  top: 15px;

}

.login{
  float: right;
  top: 30px;
  position: relative;
  color: darkgray;
  right: 10px;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  font-size: 0.7em;
  margin-right: 15%;
}

.lock-icon{
  width: 17px;
  height: 26px;
  padding-top: 5px;
}

.login div{
  padding: 10px;
}

.nav-bar{
  padding: 20px 0;
  position: relative;
  height: 20px;
  color: #41c6e3;
  font-family: $base-font-family-sans;
  font-size: 0.9em;
  margin: 0 30% 0 10%;
  @include flex;
  @include flex-flow-row;
  @include flex-justify-content-space-around;
}
.banner-container{
  background-image: url('../img/background/rooftop_blue_background.png');
  background-repeat:no-repeat;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  @include flex;
  //height: 100%;
  //width: 100%;
}

.banner-title {
  color: white;
  margin: 5%;
  width: 100%;
  @include flex;
  @include flex-column;
}

.banner-title .font-regular8{
  width: 265px;
  line-height: 25px;
}
.banner-icons {
  color: white;
  @include flex;
  @include flex-column;
  width: 100%;
  align-items: flex-end;
  margin-right: 15%;
  margin-top: 2%;
}

.banner-links {
  margin-bottom: 0.5em;
  padding: 10px 5px 10px 5px;
}

.banner-register{
  @include flex-row;
  background-color: orange;
  width: 175px;
}

.banner-register div{
  line-height: 15px;
  padding: 0 10px 0 10px;
}

.learn-about_encompass-button{
  font-size: 0.7em;
  background-color: #fd8f3f;
  width: 130px;
  padding: 10px;
}

.banner-digital-mortgage{
  @include flex-row;
  background-color: #2da15a;
  width: 175px;

}

.banner-digital-mortgage div{
  line-height: 15px;
  padding: 0 10px 0 10px;
}

.banner-dream-big{
  @include flex-row;
  background-color: #00527e;
  width: 175px;
}

.banner-dream-big div{
  line-height: 15px;
  padding: 0 10px 0 10px;
}

.icon-img{
  width: 45px;
}

.promise-of-digital-mortgage{
  text-align: center;
  margin-top: 5%;
}

.promise-of-digital-mortgage div{
  font-family: $base-font-family-sans;
  font-size: 0.7em;
  text-align: justify;
  width: 60%;
  margin: auto;
  padding: 30px;
}

.promise-of {
  font-family: $base-font-family-sans;
  color:green;
  font-size: 2em;

}

.mortgage-solution {
@include flex;
@include flex-row;
  border-style: dashed;
  border-color: #e3e3e5;
  border-width: 2px;
  padding: 30px;
  width: 60%;
  margin: auto;
  justify-content: space-around;
}

.mortgage-solution div{
  padding: 5px;

}

.mortgage-solution div span{
  display: block;
  width: 50px;
  font-size: 0.6em;
  font-weight: 700;
  color: #2486b6;
  padding-top: 5px;
  text-align: center;
}

.dm-icons{
  width: 55px;
}

.dm-icons-arrows{
  width: 40px;
  margin-bottom: 5%;
  padding: 15px;
}


.learn-more-button{
background-color: #5bc0de;
  color: white;
  margin: 5% 50% 5% 50%;
  width: 120px;
  height: 40px;
  text-align: center;
  padding: 10px 5px 0px 5px;
}

.lending-platform{
  background-image: url('../img/background/encompass-ng-background.png');
  background-repeat:no-repeat;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  @include flex;
  height: 390px;
  width: 100%;
}
.hear-customer-video{
  text-align: center;
  margin-top: 5%;
}

.hear-customer-video img{
  width: 40%;

  margin: 2% 30% 0 30%;
}
.hear-customer-title{
  font-family: $base-font-family-sans;
  color: #46ab6c;
  font-size: 2em;
}


.grid{
  display: flex;
}

.gutters{
  margin: -10px 0 10px -10px;
}

.gutters > div {
  padding: 10px 0 0 10px;
}
.half {
  flex-basis: 50%;
}

.third {
  flex-basis: 33.33333%;
}

.fourth {
  flex-basis: 25%;
}

.fifth {
  flex-basis: 20%;
}

.vcenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.font-bold8{
  font-family: $base-font-family-sans;
  font-size:0.8em ;
}

.font-regular8{
  font-family: $base-font-family-sans;
  font-size:0.8em ;
  font-weight: 100;
}

.font-regular8-light{
  font-family: $base-font-family-sans;
  font-size:0.8em ;
}



.font-bold5{
  font-family: $base-font-family-sans;
  font-size:0.5em ;
}

.font-regular5{
  font-family: $base-font-family-sans;
  font-size:0.5em ;
  font-weight: 100;
}

.font-regular5-light{
  font-family: $base-font-family-sans;
  font-size:0.5em ;
  font-weight: 200;
}




.font-bold10{
  font-family: $base-font-family-sans;
  font-size:2em ;
  font-weight: 500;

}

.font-regular10{
  font-family: $base-font-family-sans;
  font-size:1em ;
}

.font-regular10-light{
  font-family: $base-font-family-sans;
  font-size:2.2em ;
  font-weight: 100;
}

.row {
  @include flex-row;
}